@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../../assets/fonts/inter/static/Inter_24pt-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1a17;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin yellow-bordered {
  background-color: #1b1a17;
  border: 2px solid #ff8303;
  border-radius: 8px;
  color: #f0e3ca;

  @media (hover: hover) {
    &:hover {
      color: #393939;
      border: 2px solid #a35709;
      background-color: #1f1e1b;
    }
  }

  @media (hover: none) {
    &:active {
      color: #393939;
      border: 2px solid #a35709;
      background-color: #1f1e1b;
    }
  }
}
