
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url("../../assets/fonts/inter/static/Inter_24pt-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1a17;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.set-task {
  display: flex;
  margin: 5%;
  height: 120px;
  width: 80%;
  justify-content: center;
  padding: 0;
}
.set-task__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  gap: 10%;
}
.set-task__input input {
  background-color: #1b1a17;
  border: 2px solid #ff8303;
  border-radius: 8px;
  color: #f0e3ca;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 1%;
  height: 50%;
  padding: 0% 2% 0% 1%;
}
.set-task__input input:hover {
  color: #393939;
  border: 2px solid #a35709;
  background-color: #1f1e1b;
}
.set-task button {
  background-color: #1b1a17;
  border: 2px solid #ff8303;
  border-radius: 8px;
  color: #f0e3ca;
  font-size: 200%;
  color: #ff8303;
  height: 100px;
  width: 100px;
  border: 4px solid #ff8303;
  margin: 1%;
  margin-left: 0;
}
.set-task button:hover {
  color: #393939;
  border: 2px solid #a35709;
  background-color: #1f1e1b;
}
.set-task button:hover {
  border: 2px solid #a35709;
  color: #a35709;
}

ul {
  width: 80%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 25px;
}
ul .no-tasks {
  border-top: 3px solid #ff8303;
  border-bottom: 3px solid #ff8303;
  border-left: none;
  border-right: none;
  color: #ffffff;
  width: 10%;
  padding: 1% 0% 1% 0%;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
ul .no-tasks h1 {
  font-family: "Inter", sans-serif;
  font-weight: 100;
}
ul .task {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 98.5%;
  align-items: center;
}
ul .task:hover {
  color: #f0e3ca;
  border-color: #ff8303;
}
ul .task .container {
  background-color: #1b1a17;
  border: 2px solid #ff8303;
  border-radius: 8px;
  color: #f0e3ca;
  display: flex;
  width: 100%;
  padding: 1% 1% 1% 1%;
  justify-content: space-between;
  color: #f0e3ca;
  font-family: "Roboto", sans-serif;
}
ul .task .container h1 {
  font-weight: 500;
}
ul .task .container h2 {
  font-weight: 400;
}
ul .task button {
  background-color: #1b1a17;
  border: 2px solid #ff8303;
  border-radius: 8px;
  color: #f0e3ca;
  margin: 1% 4% 1% 1%;
  height: 45px;
  width: 50px;
  font-size: 25px;
  color: #ff8303;
}
ul .task button:hover {
  color: #393939;
  border: 2px solid #a35709;
  background-color: #1f1e1b;
}
ul .task .menu {
  display: flex;
  margin-top: 1%;
  align-self: flex-end;
  display: none;
}
ul .task .menu.visible {
  display: flex;
}
ul .task .menu button {
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .delete-task {
  display: flex;
  flex-direction: column;
  border-top: 5px solid #a35709;
  background-color: #1b1a17;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 256px;
  height: 128px;
  justify-content: space-around;
  align-items: center;
}
.overlay .delete-task h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 5%;
}
.overlay .delete-task__buttons {
  display: flex;
  justify-content: center;
  gap: 5%;
}
.overlay .delete-task__buttons button {
  background-color: #1b1a17;
  border: 2px solid #ff8303;
  border-radius: 8px;
  color: #f0e3ca;
  width: 64px;
  height: 24px;
}
.overlay .delete-task__buttons button:hover {
  color: #393939;
  border: 2px solid #a35709;
  background-color: #1f1e1b;
}/*# sourceMappingURL=styles.css.map */